/* ===== ОБЩИЕ НАСТРОЙКИ ===== */
body 
{
	font-family: Arial, sans-serif;
	background-color: #f0f4f8;
	text-align: center;
	padding: 20px;
	margin: 0;
}

h1 
{
	color: #0000FF;
	font-size: 28px;
	margin-bottom: 5px;
}

h2
{
	color: #0000FF;
	font-size: 20px;
	margin-top: 0;
	margin-bottom: 0px;
	font-weight: normal;
}

h3 {
	color: #0000FF;
	font-size: 20px;
	margin-top: 0;
	margin-bottom: 150px;
	font-weight: normal;
}

/* ===== ОСНОВНОЙ КОНТЕЙНЕР СЕТКИ ===== */
.mendeleev-table 
{
	display: grid;
	grid-template-columns: repeat(18, 58px);
	grid-template-rows: repeat(9, 58px);
	gap: 4px;
	justify-content: center;
	margin: 0 auto;
	max-width: 1120px;
}

/* ===== ОБЩИЙ СТИЛЬ ВСЕХ ЭЛЕМЕНТОВ ===== */
.element 
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	font-weight: bold;
	border-radius: 6px;
	border: 2px solid #666;
	background-color: #e0e0e0;
	color: #000;
	transition: transform 0.15s, box-shadow 0.15s;
	cursor: default;
	line-height: 1.2;
	user-select: none;
}

	.element:hover 
	{
		transform: scale(1.4);
		box-shadow: 0 4px 15px rgba(0, 0, 0, 1);
	}

	/* ===== ЦВЕТА ПО ТИПУ ЭЛЕМЕНТА ===== */

	/* Металлы */
	.element.metal 
	{
		background-color: #0000FF;
		border-color: #2e7d32;
		color: #1b5e20;
	}

	/* Металлоиды */
	.element.metalloid 
	{
		background-color: #FFFF00;
		border-color: #f57f17;
		color: #4e342e;
	}

	/* Неметаллы */
	.element.nonmetal 
	{
		background-color: #FF0000;
		border-color: #b71c1c;
		color: #7f0000;
	}

	/* Галогены */
	.element.halogen 
	{
		background-color: 00FF00;
		border-color: #0d47a1;
		color: #0d47a1;
	}

	/* Благородные газы */
	.element.noble-gas 
	{
		background-color: #CE93D8;
		border-color: #4a148c;
		color: #4a148c;
	}

	/* Лантаноиды */
	.element.lanthanide 
	{
		background-color: #FFAB91;
		border-color: #827717;
		color: #4e342e;
	}

	/* Актиниды */
	.element.actinide 
	{
		background-color: #F48FB1;
		border-color: #bf360c;
		color: #4e342e;
	}
